@model Presentation.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Accounts List";
}
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 info-box">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title text-center">@Model.Total</h1>
            </div>
            <div class="panel-body text-center">
                <strong>Total Accounts</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 info-box">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title text-center">@Model.Today</h1>
            </div>
            <div class="panel-body text-center">
                <strong>Today Registered</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 info-box">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h1 class="panel-title text-center">@Model.Month</h1>
            </div>
            <div class="panel-body text-center">
                <strong>Last Month Registered</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 info-box">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h1 class="panel-title text-center">99999</h1>
            </div>
            <div class="panel-body text-center">
                <strong>Reserved :)</strong>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Registration Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@account.Id</td>
                <td>@account.Email</td>
                <td>@account.RegistrationDate</td>
            </tr>
        }
    </tbody>
</table>